@CHARSET "ISO-8859-1";
.edit{
	position:absolute;
	top:140px;
	
	
}
.edit form input[type="text"]
{
	width:375px;
display:block;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
color: black;
}
